.customnav{
    margin-top: 35px;
}
.portnavbar{
    background-color: #ffffff;
    float: right;
}

#link1{
    font-size: 20px;
    color: #cb80e9;
    font-family: 'Architects Daughter', cursive;
}

#link2{
    font-size: 20px;
    color: #eb3499;
    font-family: 'Architects Daughter', cursive;
}

#link3{
    font-size: 20px;
    color: #3ad3d8;
    font-family: 'Architects Daughter', cursive;
}

.spacerborder{
    border: #666666 dotted 8px;
    height: 35px;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 55px;
}

/* Website Header */

header{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: #666666 solid 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.name1{
    float: left;
    top: 0;
    background-color: #cb80e9;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

.name2{
    float: left;
    top: 0;
    background-color: #eb3499;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

.name3{
    float: left;
    top: 0;
    background-color: #3ad3d8;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

#block1{
    height: 97px;
    width: 20px;
    float: left;
    background-color: #cb80e9;
}

#block2{
    height: 97px;
    width: 20px;
    float: right;
    background-color: #cb80e9;
}

/* Body Css  for index*/

.secondborder{
    border: #666666 solid 20px;
    margin-top: 50px;
    margin-bottom: 125px;
}

#content1{
    background-color: #ffffff;
    border: solid 8px  #cb80e9;
    clear: both;
    overflow: auto;
    padding: 20px;
    padding-bottom: 50px;
}

#ML{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#poem{
    margin-top: 25px;
}

#PoemText{
    color: #666666;
    font-size: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#mainpic{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}

#main2pic{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}


#main3pic{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}

#indexspacer{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #cb80e9;
    -webkit-animation-name: indexspacer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: indexspacer;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}


#indexspacer2{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #cb80e9;
    -webkit-animation-name: indexspacer2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: indexspacer2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
/* Body Css  for Melanie*/

#content2{
    background-color: #ffffff;
    border: solid 8px #eb3499;
    clear: both;
    overflow: auto;
    padding: 20px;
    padding-bottom: 50px;
}

#MelL{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#melspacer{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #eb3499;
    -webkit-animation-name: melspacer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: melspacer;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

#melvidhead{
    color: #eb3499;
    margin-top: 40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#melvid{
    margin-top: 35px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: #eb3499 solid 5px;
}


#melvidpara{
    color: #eb3499;
    margin-top: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
#melslides{
    margin-top: 25px;
    border: #eb3499 solid 5px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Body Css  for Leah*/

#content3{
    background-color: #ffffff;
    border: solid 8px #3ad3d8;
    clear: both;
    overflow: auto;
    padding: 20px;
    padding-bottom: 50px;
}

#LeahL{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#leahspacer{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #3ad3d8;
    -webkit-animation-name: leahspacer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: leahspacer;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

#leahvidhead{
    color:  #3ad3d8;
    margin-top: 40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#leahvidpara{
    color:  #3ad3d8;
    margin-top: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#leahvid{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width:  auto;
    height: auto;
    border: #3ad3d8 solid 5px;
}

#leahslides{
    margin-top: 25px;
    border: #3ad3d8 solid 5px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Website Footer */

.footer1 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color:  #cb80e9;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

  .footer2 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #eb3499;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

  .footer3 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #3ad3d8;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

/* hover features */

#link1:hover{
    font-size: 20px;
    background-color: #cb80e9;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

#link2:hover{
    font-size: 20px;
    background-color: #eb3499;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

#link3:hover{
    font-size: 20px;
    background-color: #3ad3d8;
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
}

/* animations */

/* indexspacer */

@-webkit-keyframes indexspacer {
    0%   {background-color: #cb80e9;}
    50%  {background-color: #eb3499;}
    100%  {background-color:#3ad3d8;}
}

@keyframes indexspacer {
    0%   {background-color: #cb80e9;}
    50%  {background-color: #eb3499;}
    100%  {background-color:#3ad3d8;}
}

/* indexspacer2 */

@-webkit-keyframes indexspacer2 {
    0%   {background-color: #cb80e9;}
    50%  {background-color: #eb3499;}
    100%  {background-color:#3ad3d8;}
}

@keyframes indexspacer2 {
    0%   {background-color: #cb80e9;}
    50%  {background-color: #eb3499;}
    100%  {background-color:#3ad3d8;}
}

/* melspacer */

@-webkit-keyframes melspacer {
    0%   {background-color:#eb3499;}
    50%  {background-color: #3ad3d8;}
    100%  {background-color:#cb80e9;}
}

@keyframes  melspacer {
    0%   {background-color:#eb3499;}
    50%  {background-color: #3ad3d8;}
    100%  {background-color:#cb80e9;}
}

/*leahsapcer */

@-webkit-keyframes leahspacer {
    0%   {background-color: #3ad3d8;}
    50%  {background-color: #cb80e9;}
    100%  {background-color:#eb3499;}
}

@keyframes leahspacer {
    0%   {background-color: #3ad3d8;}
    50%  {background-color: #cb80e9;}
    100%  {background-color:#eb3499;}
}