.customnav{
    margin-top: 35px;
}
.portnavbar{
    background-color: #ffffff;
    float: right;
}

#link1{
    font-size: 20px;
    color: #cb80e9;
    font-family: 'Architects Daughter', cursive;
}

#link2{
    font-size: 20px;
    color: #eb3499;
    font-family: 'Architects Daughter', cursive;
}

#link3{
    font-size: 20px;
    color: #3ad3d8;
    font-family: 'Architects Daughter', cursive;
}

/* Website Header */

header{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 20px;
    overflow: hidden;
    border-bottom: #666666 solid 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.name1{
    float: left;
    top: 0;
    background-color: #cb80e9;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

.name2{
    float: left;
    top: 0;
    background-color: #eb3499;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

.name3{
    float: left;
    top: 0;
    background-color: #3ad3d8;
    color: #ffffff;
    margin-left: 0;
    padding: 26px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

#block1{
    float: left;
    background-color: #cb80e9;
}

#block2{
    float: left;
    background-color: #eb3499
}

#block2{
    float: left;
    background-color: #3ad3d8;
}
/* Body Css  for index*/

#content1{
    background-color: #ffffff;
    border: solid 7px  #cb80e9;
    clear: both;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 125px;
    padding: 20px;
    padding-bottom: 50px;
}

#ML{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#poem{
    margin-top: 25px;
}

#PoemText{
    color: #666666;
    font-size: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#mainpic{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}

#main2pic{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}


#main3pic{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border: #cb80e9 solid 4px;
}

#indexspacer{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #cb80e9;
    border: #666666 dotted 8px;
    
}

#indexspacer2{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #cb80e9;
    border: #666666 dotted 8px;
    
}
/* Body Css  for Melanie*/

#content2{
    background-color: #ffffff;
    border: solid 7px #eb3499;
    clear: both;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 125px;
    padding: 20px;
    padding-bottom: 50px;
}

#MelL{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#melspacer{
    width: 80%;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #eb3499;
    border: #666666 dotted 8px;
    
}

#melvidhead{
    color: #eb3499;
    margin-top: 40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#melvid{
    margin-top: 35px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: #eb3499 solid 5px;
}


#melvidpara{
    color: #eb3499;
    margin-top: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
#melslides{
    margin-top: 25px;
    border: #eb3499 solid 5px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Body Css  for Leah*/

#content3{
    background-color: #ffffff;
    border: solid 7px #3ad3d8;
    clear: both;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 125px;
    padding: 20px;
    padding-bottom: 50px;
}

#LeahL{
    text-align: center;
    border-bottom: #666666 solid 3px;
    width: 75%;
    margin: auto;
    font-size: 60px;
    color: #666666;
    font-family: 'Architects Daughter', cursive;
}

#leahspacer{
    width: 80%;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #3ad3d8;
    border: #666666 dotted 8px;
    
}

#leahvidhead{
    color:  #3ad3d8;
    margin-top: 40px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#leahvidpara{
    color:  #3ad3d8;
    margin-top: 20px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

#leahvid{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width:  auto;
    height: auto;
    border: #3ad3d8 solid 5px;
}

#leahslides{
    margin-top: 25px;
    border: #3ad3d8 solid 5px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Website Footer */

.footer1 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color:  #cb80e9;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

  .footer2 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #eb3499;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

  .footer3 {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #3ad3d8;
    color: #ffffff;
    text-align: center;
    border-top: solid 12px #666666;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
  }

/* media query */
